.wrapper {
    height: 6vh;
    border: 1px solid rgb(207, 207, 207);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    background-color: white;
  }
  
  .wrapper button {
    border: none;
    background-color: white;
    font-size: 1.2rem;
    color: rgb(92, 92, 92);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    height: 4vh;
    cursor: pointer;
  }
  
  .wrapper button:hover {
    background-color: rgba(210, 207, 207, 0.5);
  }
  .icon {
    font-size: 1.3rem;
    color: rgb(92, 92, 92);
  }
  .fontSize {
    border: none;
    background-color: white;
    font-size: 1.3rem;
    gap: 0.1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2vh;
    padding: 0.5rem;
    border-radius: 20%;
  }
  .fontSize span:hover {
    background-color: rgba(210, 207, 207, 0.5);
  }
  .input {
    background-color: white;
    border: none;
    height: 2vh;
    margin-top: -0.59rem;
    width: 2vw;
    outline: none;
  }
  .input:hover {
    background-color: rgba(210, 207, 207, 0.2);
  }
  .linkBox {
    position: absolute;
    border: 1px solid rgb(169, 169, 169);
    width: 20%;
    height: 30vh;
    left: 2rem;
    top: 9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 3px 3px rgb(182, 182, 182, 0.5);
  }
  .linkBox input {
    background-color: white;
    width: 80%;
  }
  select {
    border: none;
    font-size: 1rem;
    outline: none;
    height: 3vh;
    cursor: pointer;
    border-radius: 10%;
    color: rgb(94, 92, 92) ;
  
  }
  .fontStyleBox{
      border-left:1px solid rgb(122, 122, 122);
      border-right:1px solid rgb(126, 126, 126);
      border-radius: 5%;
      cursor: pointer;
  }
  .fontStyleBox:hover{
      background-color: rgb(182, 181, 181,0.2); 
  }
  .fontStyle{
      border: none;
      font-size: 1rem;
      outline: none;
      height: 3vh;
      width: 6rem;
      color: rgb(94, 92, 92) ;
    
  }
  
  select:hover {
    background-color: rgb(163, 163, 163, 0.2);
    
  }
  
  .wrapper span {
    font-size: 1.1rem;
  }
  

  @media only screen and (max-width: 1300px) {
   
   

  }