* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgb(190, 186, 186, 0.2);
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.textArea {
  border: 1px solid rgb(182, 182, 182);
  box-shadow: 0px 0px 3px 3px rgb(182, 182, 182, 0.5);
  border-radius: 12px;
  width: 40%;
  height: 140vh;
  padding: 6rem;
  background-color: white;
  color: #000;
  font-weight: 400;
  font-size: 1rem;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  outline: none;
}
.downloaddoc {
  position: fixed;
  bottom: 6vh;
  right: 5vw;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(to right, #0B5BD5, #0067C5);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  animation: pulse 1.5s infinite;
}

.downloaddoc:hover {
  cursor: pointer;
  background: linear-gradient(to right, #FF4F4F, #FF8C1A);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.4);
}

.downloaddoc i {
  font-size: 2.5rem;
  color: white;
}

@keyframes pulse {
    50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
} 
