* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: rgb(190, 186, 186, 0.2);
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.textArea {
  border: 1px solid rgb(182, 182, 182);
  box-shadow: 0px 0px 3px 3px rgb(182, 182, 182, 0.5);
  border-radius: 12px;
  width: 40%;
  height: 140vh;
  padding: 6rem;
  background-color: white;
  color: #000;
  font-weight: 400;
  font-size: 1rem;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  outline: none;
}

.downloaddoc {
  background-color: rgb(62, 35, 216);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 6vh;
  right: 5vw;
  color: white;
  width: 35px;
  height: 35px;
  font-size: 3rem;
  padding: 1rem;
  border-radius: 100%;
}

.downloaddoc:hover {
  cursor: pointer;
  background-color: red;
  color: #000;
}
